@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "fonts.css";

.first-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url("../img/bg-first.png") center bottom;
    background-size: cover;
}
.first-box h1{
    margin-bottom: 70px;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: center;
}
.searchInp{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 15px;
}
.searchInp::-webkit-input-placeholder       {color: rgba(126,19,171,0.5); text-indent: 0;   transition: text-indent 0.3s ease;}
.searchInp::-moz-placeholder                {color: rgba(126,19,171,0.5); text-indent: 0;   transition: text-indent 0.3s ease;}
.searchInp:-moz-placeholder                 {color: rgba(126,19,171,0.5); text-indent: 0;   transition: text-indent 0.3s ease;}
.searchInp:-ms-input-placeholder            {color: rgba(126,19,171,0.5); text-indent: 0;   transition: text-indent 0.3s ease;}
.searchInp:focus::-webkit-input-placeholder {color: rgba(126,19,171,0.5); text-indent: 500px; transition: text-indent 0.3s ease;}
.searchInp:focus::-moz-placeholder          {color: rgba(126,19,171,0.5); text-indent: 500px; transition: text-indent 0.3s ease;}
.searchInp:focus:-moz-placeholder           {color: rgba(126,19,171,0.5); text-indent: 500px; transition: text-indent 0.3s ease;}
.searchInp:focus:-ms-input-placeholder      {color: rgba(126,19,171,0.5); text-indent: 500px; transition: text-indent 0.3s ease;}
.searchBtn{
    width: 65px;
    height: 40px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #8bc24a;
    cursor: pointer;
    outline: none;
}
.searchImg{
    width: 25px;
}
.second-box{
    padding: 20px 0 70px 0;
    background: rgb(243, 242, 242);
}
.exsempl-bg{
    padding: 15px;
}
.exsempl-bg .globalCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #d0d0d0;
}
.second-box .exsempl-bg h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
    color: #004274;
}
.exsempl-bg1{
    height: 15px;
}
.imgLang{
    width: 150px;
}
.globalCont{
    position: relative;
}
.hoverCont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,.85);
    border-radius: 10px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s;
}
.hoverCont h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 75px;
    font-weight: 500;
    color: #ffffff;
}
.hoverCont button{
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #8bc24a;
    cursor: pointer;
    outline: none;
}
.hoverCont button a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.globalCont:hover > .hoverCont{
    opacity: 1;
}
.globalCont:hover > h2{
    opacity: 0;
}

/*  LOGIN PAGE  */

.welcome-box {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    text-align: center;
    margin-bottom: 150px;
}
.btn-success{
    background-color: #8bc24a;
    border: none;
}

/*COURSE PAGE*/
.finish a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #004274;
}
.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.question h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #004274;
}
.question h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #e21721;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #d0d0d0;
    margin-top: 35px;
    cursor: pointer;
}
.card h3{
    padding: 20px 0 0 0;
    font-size: 24px;
    color: #004274;
}
.bgInCard{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.imgVoice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.imgVoice img{
    width: 27px;
    margin: 0 10px 10px;
} .progress{
    width: 572px;
  }
.progressContainer{
    padding: 60px 0 100px 0;
}
.glProgress {
    display: flex;
    justify-content: center;
}
.hotBut{
    position: relative;
}
.hotBut button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 9px 3px #f3f2f2;
    outline: none;
}
.hotBut button img{
    width: 25px;
}
.hotHoverBox{
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 38px;
    transform: scale(0,0);
    transition: all .4s ease-in;
    border-radius: 0 20px 20px 20px;
    box-shadow: -5.4px 4.4px 12.9px 0.1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    opacity: 0;
}
.hotHoverBox h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #004274;
}
.linkHot{
    cursor: pointer;
    border-bottom: 1px solid #007bff;
}
.linkHot:hover{
    color: #fe7800;
    border: none;
}
.hotBut:hover > .hotHoverBox{
    opacity: 1;
    transform: scale(1,1);
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #8cc63f;
    transition: width .6s ease;
}
.hr1{
    height: 2px;
    margin: 0;
    background: #8cc63f;
    border: none;
}
/*MODAL*/
.modal-content{
    width: 370px;
    align-items: center;
    border: none;
    border-radius: 10px;
}
.modal-header{
    justify-content: center;
    width: 100%;
    background: #8cc63f;
    border: none;
    border-radius: 10px 10px 0 0;
}
.modal-title{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}
.modal-body h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #004274;
}
.modal-body h2 span{
    font-size: 30px;
    font-weight: 500;
}
.modal-footer{
    padding: 60px 0 50px 0;
    border: none;
}
.btn-secondary{
    background: transparent;
    color: #8CC63F;
    border-radius: 10px;
    border-color: #8cc63f;
    margin: 10px;
}
.btn-primary{
    background: #8cc63f;
    border-radius: 10px;
    border: none;
    margin: 10px;
}
/*CHECKBOX*/
.custom-control{
    display: unset;
}
.custom-controls-stacked{
    padding: 73px 0 0 0;
}
.custom-control.material-checkbox {
    --color: #004274;
}
.custom-control.material-checkbox .material-control-input {
    display: none;
}
.custom-control.material-checkbox .material-control-input:checked ~ .material-control-indicator {
    border-color: var(--color);
    transform: rotateZ(45deg) translate(1px, -5px);
    width: 10px;
    border-top: 0 solid #fff;
    border-left: 0 solid #fff;
}
.custom-control.material-checkbox .material-control-indicator {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    transition: 0.3s;
    cursor: pointer;
}
.material-control-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #004274;
}
/*DROPDOWN*/
.dropdown{

}
.dropdown-menu{
    display: block;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: -5.4px 4.4px 12.9px 0.1px rgba(0, 0, 0, 0.14);
    transform: scale(1,0);
    transform-origin: top;
    transition: all .3s;
}
.dropdown-toggle::after {
    width: 0;
    height: 0;
    margin-left: .255em;
    content: "";
    border-top: 10px solid #004274;
    border-right: 10px solid transparent;
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-radius: 176px;
}
.dropdown-menu.show {
    transform: scale(1);
}
select.mdb-select.md-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #212529;
    background-color: transparent;
    border: 2px solid #004274;
    border-radius: 10px;
}
.btn-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    width: 100%;
}
.btn-light h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #004274;
    margin: 0;
}
.btn-light:hover{
    border: 1px solid #004274;
}
.show>.btn-light.dropdown-toggle {
    border-color: #004274;
}
button.dropdown-item {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #004274;
}
button.dropdown-item span {
    font-weight: 500;
}
.footerCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64px;
    background: #f3f2f2;
}
/*COURSE2*/
.informationsBoxes h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #004274;
}.informationsBoxes p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #004274;
}
.btnsRows{
    padding: 100px 0 158px 0;
}
.btnsRows .btn{
    width: 200px;
    height: 50px;
}

/*COURSE3*/
.exsempl-bg3{
    display: flex;
    align-items: center;
    padding: 15px;
}
.cardCourse3 {
    height: 210px;
    background: #ffffff;
    border-radius: 20px;
    cursor: pointer;
}
/*COURSE4*/
.columnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    padding-top: 115px;
}
.boxForH1 {
    width: 75%;
    display: flex;
    justify-content: flex-start;
}
.boxForH1 h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #e21721;
}
.rowRight h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #004274;
    padding: 0 34px 0 0;
}
.inpCour4 {
    width: 80%;
    height: 121px;
    border-radius: 10px;
    border: solid 2px #004274;
    background-color: #f8f8f8;
    outline: none;
    padding: 10px 10px 10px 10px;
}
.btnRight{
    margin: 0;
}
.rowRight {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.hr2{
    height: 2px;
    margin: 0;
    background: #8cc63f;
    border: none;
}
.footerCourse h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #004274;
    padding: 24px;
}